@import "vendor/normalize.css";

@import "vendor/foundation.min.css";
.page {
  clear: both;
  overflow: hidden;
  width: 100%;
}
.footer {
  font-size: 0.8em;
}
.mod-nx-open-data .widget-map {
  height: 800px;
}
.mod-nx-open-data #map {
  min-height: 600px;
}
.mod-nx-open-data .large-2.columns {
  font-size: 0.8em;
}
