@import "vendor/normalize.css";

@import "vendor/foundation.min.css";
.page {
  clear: both;
  overflow: hidden;
  width: 100%;
}
.mod-nx-open-data .widget-map {
  height: 800px;
}
.mod-nx-open-data #map {
  min-height: 600px;
}
